VITE_SUPABASE_URL=https://qtijhtjznppqdolevuvp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF0aWpodGp6bnBwcWRvbGV2dXZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczMTg1NjIsImV4cCI6MjA2Mjg5NDU2Mn0.7K7ln6yirzLqeFrithqgQ-qTsnGC0O3vNU1E4dSgEZY